# Heroes of Pymoli Data Analysis

### Observed Trends
1. 64.71% of all players are between the ages of 15 and 24 (63.17% of all purchases came from this age group)
1. Thus, the majority of players are between late teens to mid twenties. 
2. Popular games are not necessarily the most profitable.
3. Arcane Gem, however, is both profitable and popular.
4. A significant majority of players are males.

In [2]:
#Dependencies
import pandas as pd

In [3]:
#Import json files
jsonpath = '../USCLOS201710DATA5-Class-Repository-DATA-master-29e7262cebcc6bf323c4d2103b21632da16f324c/Pandas/Homework Instructions/Instructions/HeroesOfPymoli/purchase_data.json'
jsonpath2 = '../USCLOS201710DATA5-Class-Repository-DATA-master-29e7262cebcc6bf323c4d2103b21632da16f324c/Pandas/Homework Instructions/Instructions/HeroesOfPymoli/purchase_data2.json'

pd_df = pd.read_json(jsonpath)
pd_df2 = pd.read_json(jsonpath2)

pd_df = pd_df.append(pd_df2)
pd_df = pd_df.reset_index().drop("index",1)
pd_df

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
828,25,Male,84,Arcane Gem,4.81,Eusty71
829,20,Male,14,Possessed Core,2.82,Frichilsa31
830,23,Male,176,Relentless Iron Skewer,2.12,Filon68
831,28,Male,1,Crucifer,3.67,Palyon91
832,23,Female,118,"Ghost Reaver, Longsword of Magic",2.95,Assistast50
833,16,Female,94,Mourning Blade,3.64,Seostylis96
834,25,Male,111,Misery's End,1.79,Iskadar31
835,20,Male,108,"Extraction, Quickblade Of Trembling Hands",2.26,Pheodaisun84
836,17,Male,79,"Alpha, Oath of Zeal",1.31,Yarmol79
837,23,Female,107,"Splitter, Foe Of Subtlety",4.15,Aeri79
838,30,Female,105,Hailstorm Shadowsteel Scythe,1.02,Undosian34
839,39,Female,2,Verdict,2.65,Aesririam61
840,23,Female,68,"Storm-Weaver, Slayer of Inception",4.39,Firon67
841,21,Male,31,Trickster,4.59,Jiskjask76
842,18,Male,25,Hero Cane,4.78,Chanirra64
843,11,Female,41,Orbit,3.85,Isristira52
844,24,Male,164,Exiled Doomblade,1.31,Chaniman66
845,23,Male,181,Reaper's Toll,4.12,Yarithrgue83
846,24,Male,4,Bloodlord's Fetish,1.91,Airi27
847,22,Male,94,Mourning Blade,3.64,Undilsan50
848,21,Male,82,Nirvana,1.77,Aidaira26
849,34,Male,126,Exiled Mithril Longsword,1.08,Chamalo71
850,25,Male,98,"Deadline, Voice Of Subtlety",1.29,Undadar97
851,25,Male,60,Wolf,2.70,Sundaky74
852,21,Male,180,Stormcaller,2.77,Lisirra44
853,35,Male,93,Apocalyptic Battlescythe,4.49,Chamast86
854,38,Male,163,Thunderfury Scimitar,4.16,Ardcil81
855,15,Male,167,"Malice, Legacy of the Queen",3.25,Heudai45
856,24,Male,97,"Swan Song, Gouger Of Terror",1.92,Chaniman66
857,20,Male,134,Undead Crusader,2.15,Syalallodil59

In [4]:
#Check for empty values
pd_df.isnull().any()

Age          False
Gender       False
Item ID      False
Item Name    False
Price        False
SN           False
dtype: bool

In [5]:
## Player Count

tot_players = [len(pd_df["SN"].unique())]
total_players = pd.DataFrame(tot_players,columns={"Total Players"})
total_players

   Total Players
0            612

In [6]:
## Purchasing Analysis (Total)

tot_items = [len(pd_df["Item Name"].unique())]
avg_price = '${:,.2f}'.format(pd_df["Price"].mean())
tot_purchases = [len(pd_df)]
tot_rev = '${:,.2f}'.format(pd_df["Price"].sum())

total_dic = {"Number of Unique Items":tot_items,
       "Average Price":avg_price,
       "Number of Purchases":tot_purchases,
       "Total Revenue":tot_rev}

#part1 = pd.DataFrame(list(dic.items()))
purchasing_analysis = pd.DataFrame(total_dic, columns=total_dic.keys())
purchasing_analysis.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     180         $2.93                  858     $2,514.43

In [58]:
## Gender Demographics

unique_df = pd_df.drop_duplicates(subset=['SN'])
gender_dem = unique_df["Gender"].value_counts()  

total = gender_dem.sum()
gender_percent = gender_dem/total*100

gender = pd.DataFrame(gender_dem)
gender.columns =['Total Count']
gender.insert(0,'Percentage of Players',gender_percent)
gender['Percentage of Players'] = gender['Percentage of Players'].map('{:,.2f}%'.format)
gender

                      Percentage of Players  Total Count
Male                                 80.88%          495
Female                               17.65%          108
Other / Non-Disclosed                 1.47%            9

In [59]:
## Purchasing Analysis (Gender)

#group by gender, then create the 'purchase count' column
purchasing_gender = pd_df.groupby("Gender")
purchasing_gender_df = pd.DataFrame(purchasing_gender["SN"].count()).rename(columns={"SN":"Purchase Count"})

#calculate avg and total purchase
avg_purchase = ["${:.2f}".format(x) for x in purchasing_gender["Price"].mean()]
total_purchase = ["${:.2f}".format(y) for y in purchasing_gender["Price"].sum()]

#insert avg and total purchase columns into dataframe
purchasing_gender_df.insert(1,'Average Purchase Price',avg_purchase)
purchasing_gender_df.insert(2,'Total Purchase Value',total_purchase)


#Bring in total count to match index, then use for-loop to calculate normalized totals 
#Use temporary dataframe to retain 'Gender'index header in working dataframe
temporary_df = purchasing_gender_df.join(gender["Total Count"],how='outer')

normalized_totals=[]
for row in range(0,len(purchasing_gender_df)):
    normalized_totals.append(purchasing_gender["Price"].sum()[row]/temporary_df["Total Count"][row])
normalized_totals = ["${:.2f}".format(z) for z in normalized_totals]

#insert normalized totals
purchasing_gender_df.insert(3,'Normalized Totals',normalized_totals)

purchasing_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,149,$2.85,$424.29,$3.93
Male,697,$2.94,$2052.28,$4.15
Other / Non-Disclosed,12,$3.15,$37.86,$4.21

In [60]:
## Age Demographics

#add appropriate age group to each purchase
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
bins = [0,10,15,20,25,30,35,40,100]
pd_df["Age Group"] = pd.cut(pd_df["Age"],bins,labels=labels)

#drop duplicate users
unique_df = pd_df.drop_duplicates(subset=['SN'])

#groupby age group
age_group = unique_df.groupby("Age Group")["Age"].count().to_frame()
del age_group.index.name
age_group = age_group.rename(columns={"Age":"Total Count"})

#calculate percentages
age_percent = age_group["Total Count"]/tot_players*100
age_percent = ["{:.2f}%".format(z) for z in age_percent]

age_group.insert(0,"Percentage of Players",age_percent)
age_group

      Percentage of Players  Total Count
<10                   3.92%           24
10-14                 9.31%           57
15-19                24.51%          150
20-24                40.20%          246
25-29                 8.99%           55
30-34                 7.84%           48
35-39                 4.74%           29
40+                   0.49%            3

In [61]:
## Purchasing Analysis (Age)
purchase_age = pd_df.groupby("Age Group")
purchase_age_df = pd.DataFrame(purchase_age["SN"].count()).rename(columns={"SN":"Purchase Count"})

avg_purchase_age = ["${:.2f}".format(x) for x in purchase_age["Price"].mean()]
total_purchase_age = ["${:.2f}".format(y) for y in purchase_age["Price"].sum()]

purchase_age_df.insert(1,'Average Purchase Price',avg_purchase_age)
purchase_age_df.insert(2,'Total Purchase Value',total_purchase_age)

temporary_df_age = purchase_age_df.join(age_group["Total Count"],how='outer')

normalized_totals_age = []
for row in range(0,len(purchase_age_df)):
    normalized_totals_age.append(purchase_age["Price"].sum()[row]/temporary_df_age["Total Count"][row])
normalized_totals_age = ["${:.2f}".format(z) for z in normalized_totals_age]

#insert normalized totals
purchase_age_df.insert(3,'Normalized Totals',normalized_totals_age)

purchase_age_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age Group,,,,
<10,37,$2.98,$110.44,$4.60
10-14,82,$2.88,$236.36,$4.15
15-19,204,$2.86,$583.43,$3.89
20-24,338,$2.97,$1003.03,$4.08
25-29,80,$2.88,$230.59,$4.19
30-34,65,$3.00,$194.73,$4.06
35-39,49,$3.00,$147.21,$5.08
40+,3,$2.88,$8.64,$2.88

In [62]:
## Top Spenders

user_total_purchase = pd_df.groupby("SN")["Price"].sum()
user_purchase_count = pd_df.groupby("SN")["Age"].count()

user_avg_price = []

for a in range(0,len(user_total_purchase)):
    user_avg_price.append("${:.2f}".format(user_total_purchase[a]/user_purchase_count[a]))

#user_total_purchase = "${:.2f}".format(user_total_purchase)
user_group = pd.concat([user_purchase_count,user_total_purchase],axis=1,join='outer')
user_group = user_group.rename(columns={"Age":"Purchase Count","Price":"Total Purchase Value"}).sort_values("Total Purchase Value",ascending=False)
user_group.insert(1,"Average Purchase Price",user_avg_price)
user_group = user_group[:5]
user_group["Total Purchase Value"] = user_group["Total Purchase Value"].map('${:,.2f}'.format)
user_group

               Purchase Count Average Purchase Price Total Purchase Value
SN
Undirrala66                 5                  $2.46               $17.06
Aerithllora36               4                  $2.23               $15.10
Saedue76                    4                  $1.93               $13.56
Sondim43                    4                  $2.46               $13.02
Mindimnya67                 4                  $1.27               $12.74

In [63]:
## Most Popular Items

grouped_items = pd_df.groupby(["Item ID","Item Name"])
count_items = grouped_items.count().sort_values("Age",ascending=False)
count_items = count_items['Age']

total_purchase_items = grouped_items['Price'].sum()
#total_purchase_items

item_groups = pd.concat([count_items,total_purchase_items],axis=1,join='outer')
item_groups = item_groups.rename(columns={'Price':'Total Purchase Value','Age':'Purchase Count'})

temporary_df = pd_df.drop_duplicates(subset=['Item ID'])
temporary_df = temporary_df.groupby(['Item ID','Item Name']).sum()
temporary_df = temporary_df['Price']

item_groups.insert(1,"Item Price",temporary_df)
item_groups['Item Price'] = item_groups['Item Price'].map('${:.2f}'.format)

popular_items = item_groups.sort_values('Purchase Count',ascending=False)
popular_items['Total Purchase Value'] = popular_items['Total Purchase Value'].map('${:.2f}'.format)
popular_items = popular_items[:5]
popular_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
84,Arcane Gem,12,$2.23,$29.34
39,"Betrayal, Whisper of Grieving Widows",11,$2.35,$25.85
31,Trickster,10,$2.07,$23.22
44,Bonecarvin Battle Axe,9,$2.46,$24.04
154,Feral Katana,9,$2.19,$23.55

In [64]:
## Most Profitable Items

profitable_items = item_groups.sort_values('Total Purchase Value',ascending=False)
profitable_items['Total Purchase Value'] = profitable_items['Total Purchase Value'].map('${:.2f}'.format)
profitable_items = profitable_items[:5]
profitable_items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,$4.14,$37.26
107,"Splitter, Foe Of Subtlety",9,$3.61,$33.03
115,Spectral Diamond Doomblade,7,$4.25,$29.75
32,Orenmir,6,$4.95,$29.70
84,Arcane Gem,12,$2.23,$29.34